.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
  }
  
.image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right:32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);

}

.sliderdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* border: 1px solid black; */
  width: 800px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 3px gray;
  margin: 20px;
  padding: 20px;
}

@media (max-width: 850px) and (min-width: 650px){
  .sliderdiv{
    width: 600px;
    text-align: justify;
  }
}

@media (max-width: 650px) and (min-width: 450px){
  .sliderdiv{
    width: 400px;
    text-align: justify;
  }
}

@media (max-width: 450px){
  .sliderdiv{
    width: 300px;
    height: 500px;
    text-align: justify;
  }
}

